<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Home</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="css/main.css">
	<script src="lib/jquery.min.js"></script>
	<script src="scripts/home.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>

	<div id="header">
        <div id="headercenter">
            <div id="logo">
                <h1>Aggie 2.0</h1>
            </div>
            <div id="homebutton">
                <img src="images/home.png" width="50px" height="50px" alt="Home" />
            </div>
            <div id="graph">
                <img src="images/graph.jpg" width="750px" height="50px" alt="Graph" />
            </div>
            <div id="profile">
                <img src="images/profile.png" width="65px" height="65px" alt="Profile" />
            </div>
            <div id="logout">
                <input type="button" id="logout-button" value="Logout"/>
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="left">
            <div id="navbar">
                <ul>
                    <a href="messages.html"><li class="navlink"><p>Messages</p><p style="font-size:13px;">20,000 Unread</p></li></a>
                    <a href="#"><li class="navlink"><p>Incidents<p></li></a>
                    <a href="#"><li class="navlink"><p>Sources<p></li></a>
                    <a href="#"><li class="navlink"><p>Topics<p></li></a>
                    <a href="#"><li class="navlink"><p>Follow-up<p></li></a>
                    <a href="#"><li class="navlink"><p>Analysis<p></li></a>
                </ul>
            </div>
        </div>
        <div id="right">
            <div id="floatleft">
                <div class="box">
                    <h1>MESSAGES</h1>
                    <p>10,000 Messages</p>
                </div>
                <div class="box">
                    <h1>SOURCES</h1>
                </div>
            </div>
            <div id="floatright">
                <div class="box">
                    <h1>INCIDENTS</h1>
					<p>9 new</p>
                </div>
                <div class="box">
                    <h1>TOPICS</h1>
                </div>
            </div>
        </div>
    </div>

</body>	
</html>
