<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Messages</title>
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="scripts/messages.js" type="text/javascript"></script>
	<script src="scripts/chart.min.js" type="text/javascript"></script>
    <script src="scripts/logout.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="header">
        <div id="headercenter">
            <div id="logo">
                <img src="images/aggie.png" width="79px" height="55px" alt="Aggie Logo" /><br/>
                <h1>Aggie 2.0</h1>
            </div>
            <div id="homebutton">
                <a href="home.html"><img id="home_link" src="images/home.png" width="50px" height="50px" alt="Home" /></a>
            </div>
            <div id="profile">
                <img src="images/admin.jpg" width="65px" height="65px" alt="Profile" />
            </div>
        </div>
    </div>
    <div id="wrapper">
        <div id="left">
            <div id="navbar">
                <ul>
                    <a href="messages.html"><button type="button" class="btn btn-primary btn-lg">Messages</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Incidents</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Sources</button></a>
                    <a href="topics.html"><button type="button" class="btn btn-primary btn-lg">Topics</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Follow-up</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Analysis</button></a>
                    <a id="logout_link" href="#"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
                </ul>
            </div>
        </div>
        <div id="rightmessages">
            <div id="floatrightmessages">
                <div id="messagetop">
                    <form action="#" method="POST">
                       <input style="width:50%;margin-top:3%" class="form-control" id="tsource1" name="tsource1" placeholder="Search" type="text" autofocus />
                      
                      	<div>
                      	
						<input type="checkbox" name="checkAll" value="checkAll" style="float:left;margin-top:3%">
                        <a href="#"><button type="button" class="btn btn-primary" style="float:left;margin-top:1.3%;margin-left:1%;margin-right:1%">Pertinent</button></a>
                        <a href="#"><button type="button" class="btn btn-primary" style="float:left;margin-top:1.3%;margin-left:1%;margin-right:1%">Irrelevant</button></a>
                        <a href="#"><button type="button" class="btn btn-primary" style="float:left;margin-top:1.3%;margin-left:1%;margin-right:1%">Delete</button></a>
                      
                        <select class="form-control" style="float:left;width:25%">
                            <option>Add to Incident</option>
                            <option>----------</option>
                            <option value="new">New</option>
                            <option value="existing">Existing</option>
                        </select>
                        <select class="form-control" style="float:left;width:25%">
                            <option>Filter By</option>
                            <option>----------</option>
                            <option>Date/Time</option>
                            <option>Topic</option>
                            <option>Source</option>
                            <option>Assigned to me</option>
                        </select>
                        </div>
                    </form>
                </div>
				<br/>
                <div class="clear" id="messageappend"></div>
				<div id="messagecontainer"></div>
				
            </div>

             <div id="start-bot-form" style="float:right;margin-top:6%;margin-right:8%">
                <input class="form-control" name="search-term" id="search-term" placeholder="Search" type="text" autofocus /><br>
                <button type="button" id="submit-search-btn" name="submit-search-term" class="btn btn-success btn-sm">Submit</button>
                <div id="bots">

                </div>
            </div>

            <div style="float:right;margin-top:18%;margin-right:-17%">
            	<canvas id="myChart" width="400" height="400" style="background-color:rgb(235, 237, 243);border-radius:5px"></canvas>
            </div>

           

           
        </div>
        <div class="clear"></div>
    </div>

     <script type="text/javascript" src="./scripts/bootstrap.min.js"></script>

</body>	
</html>