<!doctype html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <title>Register</title>
</head>

<body>
    <div id="register">
        <h2>
            <span class="fontawesome-lock"></span>Register</h2>
        <form action="/register" method="POST">
            <fieldset>
                <p>
                    <label for="username">Username</label>
                </p>
                <p>
                    <input type="text" id="username" name="username" value="username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value=''">
                </p>

                <p>
                    <label for="password">Password</label>
                </p>
                <p>
                    <input type="password" id="password" name="password" value="password" onBlur="if(this.value=='')this.value='password'" onFocus="if(this.value=='password')this.value=''">
                </p>
                <p>
                    <label for="email">E-mail address</label>
                </p>
                <p>
                    <input type="email" id="email" name="email" value="mail@address.com" onBlur="if(this.value=='')this.value='mail@address.com'" onFocus="if(this.value=='mail@address.com')this.value=''">
                </p>
                <p>
                    <input type="checkbox" name="isAdminFlag" value="true">This user is an Administrator</input>
                </p>
                <p>
                    <input type="submit" value="Register">
                </p>
            </fieldset>
        </form>
    </div>
</body>

</html>
