<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Register</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="css/register.css">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="register">

		<h2><span class="fontawesome-lock"></span>Register</h2>

		<form action="/register" method="POST">

			<fieldset>

				<p><label for="username">Username</label></p>
				<p><input type="text" id="username" name="username" value="username" onBlur="if(this.value=='')this.value='Username'" onFocus="if(this.value=='Username')this.value=''"></p> <!-- JS because of IE support; better: placeholder="mail@address.com" -->

				<p><label for="password">Password</label></p>
				<p><input type="password" id="password" name="password" value="password" onBlur="if(this.value=='')this.value='password'" onFocus="if(this.value=='password')this.value=''"></p> <!-- JS because of IE support; better: placeholder="password" -->

				<p><label for="email">E-mail address</label></p>
				<p><input type="email" id="email" name="email" value="mail@address.com" onBlur="if(this.value=='')this.value='mail@address.com'" onFocus="if(this.value=='mail@address.com')this.value=''"></p> <!-- JS because of IE support; better: placeholder="mail@address.com" -->

				<p><input type="checkbox" name="isAdminFlag" value="true">This user is an Administrator</p>

				<p><input type="submit" value="Register"></p>

			</fieldset>

		</form>

	</div> <!-- end login -->

</body>	
</html>