<!doctype html>
<html lang="en-US">
<head>

	<meta charset="utf-8">

	<title>Home</title>

	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Varela+Round">
	<link rel="stylesheet" href="./css/bootstrap.css">
	<link rel="stylesheet" href="css/main.css">
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="scripts/logout.js"></script>

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

</head>

<body>

	<div id="header">
        <div id="headercenter">
            <div id="logo">
                <img src="images/aggie.png" width="79px" height="55px" alt="Aggie Logo" /><br/>
                <h1>Aggie 2.0</h1>
            </div>
            <div id="homebutton">
                <a href="home.html"><img src="images/home.png" width="50px" height="50px" alt="Home" /></a>
            </div>
            <div id="profile">
                <img src="images/admin.jpg" width="65px" height="65px" alt="Profile" />
            </div>
        </div>
    </div>
    <div id="wrapper">
         <div id="left">
            <div id="navbar">
                <ul>
                    <a href="messages.html"><button type="button" class="btn btn-primary btn-lg">Messages</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Incidents</button></li></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Sources</button></a>
                    <a href="topics.html"><button type="button" class="btn btn-primary btn-lg">Topics</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Follow-up</button></a>
                    <a href="#"><button type="button" class="btn btn-primary btn-lg">Analysis</button></a>
                    <a id="logout_link" href="#"><button type="button" class="btn btn-primary btn-lg">Logout</button></a>
                </ul>
            </div>
        </div>
	
	<div id="Twitter">
    	
    
    <div class="col-sm-8 contact-form">
    	<h1 style="margin: 0; padding: 0; padding-left:7%">Twitter</h1>
		<form id="contact" method="post" class="form" role="form">
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<input class="form-control" id="tsource1" name="tsource1" placeholder="Source" type="text" autofocus />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<input class="form-control" id="tsource2" name="tsource2" placeholder="Source" type="text" autofocus />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<input class="form-control" id="tsource2" name="tsource2" placeholder="Source" type="text" autofocus />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<button class="btn btn-primary pull-right" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>

	</div>

	<div id="Facebook">
    	
    
    <div class="col-sm-8 contact-form">
    	<h1 style="margin: 0; padding: 0; padding-left:5%">Facebook</h1>
		<form id="contact" method="post" class="form" role="form">
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<input class="form-control" id="fbsource1" name="fbsource1" placeholder="Source" type="text" autofocus />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<input class="form-control" id="fbsource2" name="fbsource2" placeholder="Source" type="text" autofocus />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<input class="form-control" id="fbsource3" name="fbsource3" placeholder="Source" type="text" autofocus />
				</div>
			</div>
			<div class="row">
				<div class="col-xs-3 col-md-3 form-group">
					<button class="btn btn-primary pull-right" type="submit">Submit</button>
				</div>
			</div>
		</form>
	</div>

	</div>
            
        </div>
    </div>

   <script type="text/javascript" src="./scripts/bootstrap.min.js"></script>

</body>	
</html>